html
  head
    title= title
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    h1 Server Error
    
    h3 #{error}
    p Sorry! There was an unexpected error on the server.